# Compiled Object files
*.slo
*.lo
*.o
*/__pycache__/*


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
*.obj

core
*.lib
Makefile*
*.pdb

*.depend
*.layout
*.save
*.user*
*.orig

/build/
/build*/
/old/
*/.idea/*
*.autosave
dependencies/SDL/
dependencies/SDL_ttf/
.idea/
